@import "variables";
@import "mixin";
@import "reset";


@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Rammetto+One');

@import "~susy/sass/susy";
@import "~materialize-css/sass/materialize";



$susy: (
  'columns': susy-repeat(16),
  'gutters':0.5em,
  'spread': 'wide',
  'container-spread': 'wide',
);

#app {
    font-family: 'Roboto', sans-serif;
  }

  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    display: inline-block;
  
    margin: 0 10px;
  }


// COMPONENT A : HEADER / NAV
.containerGlobal {
    overflow: hidden;
}
header {
    .linkPlateform {
        background-color: $blueHackages;
        color: white;
        height: 65px;
        
       
        div:first-child {
            float: left;
            width: span(14 of 16);
            // background: green;
            height: 100%;
            display: flex;
            align-items: center;
            
            h3 {
                font-size: 20px;
                margin-left: gutter();      
            }
        }
        div:last-child {
            float: right;
            width: span(2 of 16);
            // background: red;
            height: 100%;
            display: flex;
            align-items: center;
            a {
                background-color: $greenHackages;
                color: white;
                // padding: 20px;
                border-radius:4px;
                &:hover{
                    @extend .z-depth-1;
                }
                
              } 
        }  
    }
    nav {
        background-color: $greenHackages;
        color: white;
        height: 70px;
        @extend .z-depth-1;
        
    
        div:first-child {
            float: left;
            width: span(1 of 16);
            // background: yellow;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            img {
                margin-left: gutter();
               
            }
        }
        div:last-child {
            float: right;
            width: span(15 of 16);
            // background: blue;
            height: 100%;
            display: flex;
            align-items: center;

            a {
                color: white;
                text-decoration: none;
                font-size: 12px;
                :hover{
                    text-decoration: beige;
                }
        }
       
        }
      }



}

// COMPONENT B : whatIsJargon


.whatIsJargon { 
    @include hackagesgradient;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    h1 {
        font-family: 'Rammetto One', cursive;
        color: white;
        font-size: 98px;
    }
    h3 {
        color: white;
        font-size: 20px;
    }
    .horizontal_flex {
        width: 100%;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        a {
          
           width: 222px;
           color: white;
           margin: 50px;
        //    padding: 20px;
         }
        a:first-child {
            background-color: $greenHackages;
            z-index: 1;
            @extend .z-depth-1;
            &:hover {
                z-index: 0;   
                @extend .z-depth-2;
                             
            }
        }
        a:last-child {
            border: 1px solid white;
            background-color: none;
            text-decoration: none;
        }
    }
    // .mascot {
    //     img {
    //         background-color: white;
    //     }
    // }
}

.keepMe {
    background-color: $greenHackages;
    color: whitesmoke;
    margin: 50px auto;
    overflow: hidden;
    padding: 20px 0;
    width: span(15 of 16);
    display: flex;
    align-items: center;
    .text {
        width: span(10 of 15);
        float: left;
        margin-left: gutter(of 16);
        h3 {
            font-size: 20px; 
        }
    }
    form {
        width: span(5 of 15);
        float: right;
    }

}

// COMPONENT C : whyJoin


.whyJoin {
    width: 100%;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    // align-items: flex-start;
    background: greenyellow;
    .title {
        align-self: center;  
        
    }
    .listIcon {
        align-self: center;
    }
    ul li div {
        border: 1px solid 
    }
    // justify-content: center;
}








footer {
  background-color: $blueHackages;
  div {
    color: white;
  }
}
